@media screen and (max-width: 1000px) {
    .inventoryItemContainer{
       grid-template-columns: repeat(3, 1fr);
    }
   
}

@media screen and (max-width: 945px) {
    .allSelectedContainer{
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    .uploadImageContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    
 }

@media screen and (max-width: 800px) {
    .inventoryItemText{
        font-size: 16px;
    }
   .imagesDescText{
    font-size: 14px;
   }
   .tipsContainer{
    align-items: flex-start;
   }
}



@media screen and (max-width: 770px) {
    
    .allSelectedContainer{
        width: 80%;
        align-items: flex-start;
        flex-direction: column;
    }
    .inventoryListBtn{
        align-self: flex-end;
    }
   
}

@media screen and (max-width: 700px) {
    .inventoryItemContainer{
       grid-template-columns: repeat(2, 1fr);
    }
    /* .selectedItems{
        display: none;
    } */
    .finalItemsContainer{
        width: 350px;
        margin-top: 1rem;
    }
   
}

@media screen and (max-width: 600px) {
    .uploadImageContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    
 }

@media screen and (max-width:580px){
    .allListCont{
        flex-direction: column;
        align-items: flex-start;
    }
    .allSelectedContainer{
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
    .inventoryListBtn{
        align-self: flex-start;
    }
    .finalItemsContainer{
        width: 100%;
        margin: 1rem 0   
     }
    .uploadImageHeader{
        flex-direction: column;
        align-items: flex-start;
    }

    .uploadImageHeader h3 {
        font-size: 16px;
    }

    .uploadImageHeader p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .inventoryItemContainer{
       grid-template-columns: repeat(1, 1fr);
    }
    .uploadImageItemSelected{
        display: none;
    }
   
}

@media screen and (max-width: 420px) {
    .inventoryListHeader{
       flex-direction: column;
       align-items: flex-start;
    }
    .inventoryListHeader h3, .inventoryListHeader p{
       font-size: 16px;
     }

     .inventoryListModal{
        font-size: 14px;
     }
   
}