.custom-scroll::-webkit-scrollbar {
    display: none;
  }
  .custom-scroll {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }