.container_firstStep {
    display: flex;
    justify-content: space-around;
    padding: 40px 55px 0;
}

.card_toggle {
    display: block;
}


.first_company_card {
    /* border: 1px solid; */
    width: 592px;
    position: relative;
    max-height: 80vh;
    overflow: auto;
    padding: 0 0 80px;
}

.stepper_icon {
    display: flex;
}

.mobile_only_stepper_icon {
    display: none;
}

.laptop_only_stepper_icon {
    display: block;
}

.company_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.company_header :first-child {
    color: rgba(17, 21, 25, 1);
    font-size: 22px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
}

.company_header :last-child {
    color: rgba(49, 53, 57, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
}

.company_input_reg {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
    position: relative;
}

.company_input_reg :first-child {
    color: rgba(49, 53, 57, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
}

.company_input_reg input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(227, 227, 227, 1);
    outline: none;
}

.company_input_reg img {
    position: absolute;
    top: 55%;
    right: 15px;
}

.error_message_container {
    background-color: rgba(247, 247, 247, 1);
    padding: 32px;
    border-radius: 10px;
    margin-top: 10px;
}

.error_message {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;

}

.error_message :first-child {
    color: rgba(176, 20, 20, 1);
    font-size: 16px;
    position: relative;
    top: 12px;
    /* margin-top: 15px; */
}

.error_message :last-child {
    text-align: center;
    color: rgba(158, 158, 158, 1);
    padding: 16px 24px;
    /* font-size: 14px; */
}

.first_card_good_tick {
    background-color: #fff;
    border: 1px solid rgba(147, 204, 242, 1);
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.movers_details_first {
    padding: 15px;
}

.movers_details_text {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(32, 41, 57, 1);
}

.movers_details_sub {
    display: flex;
    align-items: center;
    gap: 8px;
}

.movers_details_sub :first-child {
    border: 1px solid rgba(200, 224, 249, 1);
    background-color: rgba(228, 240, 252, 1);
    padding: 0 8px;
    color: rgba(6, 78, 148, 1);
    font-family: "DM Sans", sans-serif;
    /* font-size: 12px; */
    font-weight: 400;
}

.movers_details_sub :last-child {
    color: rgba(105, 117, 134, 1);
    font-family: "DM Sans", sans-serif;
    /* font-size: 14px; */
    font-weight: 400;
}

.good_tick_container {
    background-color: rgba(247, 247, 247, 1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    border-radius: 6px;
}

.loader-cont {
    z-index: 100;
    /* position: absolute; */
    /* position: absolute;
    top: 40%; */
    /* left: -50%;
    transform: translate(50%, 0); */
}

.mover_details_container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.mover_details_upper {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(227, 232, 239, 1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;

}

.user_success_phone {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 18px 16px;

}

.user_success_phone :first-child {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(158, 158, 158, 1);
}

.user_success_phone :last-child {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 1);
}

.user_success_phone_last {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgba(227, 232, 239, 1);
}

.user_success_phone_last :first-child {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(158, 158, 158, 1);
}

.user_success_phone_last :last-child {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 1);
}

.company_policy {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 65px;
    width: 100%;
    color: rgba(137, 141, 147, 1);
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
}

.company_policy span a {
    color: rgba(60, 130, 246, 1);
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    text-decoration: underline;
}

.company_firststep_btn {
    position: absolute;
    padding-top: 20px;
    width: 100%;
    bottom: 3px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    display: flex;
    justify-content: space-between;
}

.company_firststep_btn :first-child {
    color: rgb(211, 212, 212);
    cursor: not-allowed;
}

.company_firststep_btn :last-child {
    background-color: #054d96;
    color: #fff;
    padding: 5px 15px;
    border-radius: 1000px;
}

@media (max-width: 1000px) {
    .card_toggle {
        display: none;
    }

    .stepper_icon {
        display: flex;
        justify-content: center;
    }

    .mobile_only_stepper_icon {
        display: block;
        width: 120px;
    }

    .laptop_only_stepper_icon {
        display: none;
    }

    .container_firstStep {
        width: 100%;
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translate(-50%, 0px);
        padding: 0;
    }

    .first_company_card {
        /* border: 1px solid; */
        /* width: 593px; */
        width: 100%;
        position: relative;
        padding: 0 0 20px;
    }

    .company_header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;
        text-align: center;
    }

    .good_tick_container {
        background-color: rgba(247, 247, 247, 1);
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
        border-radius: 6px;
        max-height: 37vh;
        overflow: auto;
    }

    .movers_details_sub {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 10px;
    }

    .movers_details_text {
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: rgba(32, 41, 57, 1);
    }

    .company_policy {
        /* margin-top: 87vh; */
        /* position: absolute; */
        /* top: 70vh; */
        /* bottom: 80px; */
        position: relative;
        top: 0;
        color: rgba(137, 141, 147, 1);
        font-size: 14px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
    }



    .company_firststep_btn {
        position: relative;
        padding: 10px 0 80px;
        /* margin-top: 50px; */
        width: 100%;
        top: 10px;
        /* bottom: -5vh; */
        /* border-top: 1px solid rgba(229, 229, 229, 1); */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }


}

@media (max-width: 600px) {
    .company_header :first-child {
        color: rgba(17, 21, 25, 1);
        font-size: 18px;
        font-weight: 500;
        font-family: "Unbounded", sans-serif;
    }

    .company_header :last-child {
        color: rgba(49, 53, 57, 1);
        font-size: 14px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
    }

    .company_input_reg :first-child {
        color: rgba(49, 53, 57, 1);
        font-size: 14px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
    }

    .company_input_reg input {
        width: 100%;
        padding: 6px 10px;
        border-radius: 8px;
        border: 1px solid rgba(227, 227, 227, 1);
        outline: none;
    }

    .company_policy {
        /* margin-top: 87vh; */
        position: relative;
        top: 0;
        /* bottom: 80px; */
        color: rgba(137, 141, 147, 1);
        font-size: 12px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
    }

    .company_policy span a {
        color: rgba(60, 130, 246, 1);
        font-size: 14px;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
        text-decoration: underline;
    }
}