.sidebar_jobs {
    /* display: flex; */
}

.jobs_container {
    width: 83%;
    margin-top: 15vh;
    position: absolute;
    top: 0;
    left: 200px;
}

.job_header {
    display: flex;
    gap: 5px;
    background-color: rgba(246, 248, 250, 1);
    border: 1px solid rgba(227, 232, 239, 1);
    border-radius: 6px;
    padding: 4px;
}

.job_header_text_active {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 7px 12px;
    cursor: default;
}

.job_header_text_active :first-child {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(18, 18, 18, 1);
}

.job_header_text_active :last-child {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: rgba(112, 112, 112, 1);
    background-color: rgba(238, 242, 246, 1);
    border: 1px solid rgba(227, 232, 239, 1);
    padding: 0 8px;
    border-radius: 1000px;
}

.job_header_text {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

/* .job_header_text :hover {
    background-color: aqua;
} */

.job_header_text :first-child {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(158, 158, 158, 1);
}

.job_header_text :last-child {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: rgba(112, 112, 112, 1);
    background-color: rgba(238, 242, 246, 1);
    border: 1px solid rgba(227, 232, 239, 1);
    padding: 0 8px;
    border-radius: 1000px;
}